.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}

.nav-item {
  padding: auto;
}
.nav-item > ul {
  font-size: 24px;

  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  padding: 5px;
  width: 200px;
  background-color: #ebebeb;
  margin: 5px;
}

.search {
  padding: 10px;
}
.res-logo {
  margin: 5px;
  width: 190px;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-card {
  width: 240px;
  height: 430px;
  padding: 12px;
  background-color: #ccc3c3;
  margin: 5px;
  border-radius: 15px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.login {
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}
.filter {
  display: flex;
}
